<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"><b>first</b> second</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">
      Please, type your email
    </p>

    <div class="form-group has-feedback">
      <input type="email" class="form-control" placeholder="Email" >
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <p class="text-info">{{ 'feedback message' }}</p>
    <div class="row">
      <div class="col-xs-12">
        <a [routerLink]="['/auth/login']" type="submit" class="btn btn-primary col-xs-6">
          Cancel
        </a>
        <button type="button" class="btn btn-success col-xs-6">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
